[Alpaca]
    # LIVE, i.e. real money account
    Live_API_Key = YourAlpacaApiKeyHere
    Live_API_Secret = YourAlpacaApiSecretKeyHere

    # PAPER account
    Paper_API_Key = YourAlpacaApiKeyHere
    Paper_API_Secret = YourAlpacaApiSecretKeyHere

[Email]
    # The email address that recives the daily/weekly update emails
    RecievingEmail = YourEmailHere@website.com

    # The email address that sends the update emails
    SendingEmailAddr = SendingEmailAddr@website.com
    SendingEmailPass = YourPasswordHere

    # SMTP configs, already setup for Google Email addresses
    SMPT_Server = smtp.gmail.com
    SMPT_Port = 587