[System]
    DEBUG = false
    LogToFile = false
    LogDirectory = logs

[Alpaca]
    # LIVE, i.e. real money account
    Live_API_Key = YourAlpacaApiKeyHere
    Live_API_Secret = YourAlpacaApiSecretKeyHere

    # PAPER account
    Paper_API_Key = YourAlpacaApiKeyHere
    Paper_API_Secret = YourAlpacaApiSecretKeyHere

    # Can be second, or daily
    Timeframe = second
    # if second time frame, is the number of seconds
    Timeframe_value = 30

    # if daily, specify "open" or "close" then the time offset in minutes
    # Timeframe_value = close 15

[Email]
    # The email address that recives the daily/weekly update emails
    RecievingEmail = YourEmailHere@website.com

    # The email address that sends the update emails
    SendingEmailAddr = SendingEmailAddr@website.com
    SendingEmailPass = YourPasswordHere

    # SMTP configs, already setup for Google Email addresses
    SMTP_Server = smtp.gmail.com
    SMTP_Port = 587