[Desktop Entry]
Name=Backtester
Comment=Start Backtester
User=pi
Exec=lxterminal -e @@home/run_backtester.sh;bash
Terminal=false
Type=Application
Icon=@@home/docs/CashMoneyLogo256.png
